// align items
.o-align--start {
  align-items: flex-start;
}
.o-align--end {
  align-items: flex-end;
}
.o-align--center {
  align-items: center;
}
.o-align--stretch {
  align-items: stretch;
}
.o-align--baseline {
  align-items: baseline;
}

// align content - This property only takes effect on multi-line flexible containers where flex-flow is set to either wrap or wrap-reverse.
// A single-line flexible container (i.e. where flex-flow is set to its default value, no-wrap) will not reflect align-content.

.o-align-content--start {
  align-content: flex-start;
}
.o-align-content--end {
  align-content: flex-end;
}
.o-align-content--center {
  align-content: center;
}
.o-align-content--stretch {
  align-content: stretch;
}
.o-align-content--baseline {
  align-content: baseline;
}
