// justify items
.o-justify--start {
  justify-content: flex-start;
}
.o-justify--end {
  justify-content: flex-end;
}
.o-justify--center {
  justify-content: center;
}
.o-justify--between {
  justify-content: space-between;
}
.o-justify--around {
  justify-content: space-around;
}
.o-justify--evenly {
  justify-content: space-around;
}

// justify self
.o-justify-self--start {
  margin-right: auto;
}

.o-justify-self--end {
  margin-left: auto;
}

.o-justify-self--center {
  margin-left: auto;
  margin-right: auto;
}
