// item | child object | - a content container that must be a child of a row

@mixin order() {
  @for $i from 1 through 12 {
    $order-index: 1 * $i;
    .o-order-#{$i} {
      order: $order-index;
    }
  }
}

.o-row__item {
  flex: 1;
  min-height: 1px;
  width: 100%;
}

.o-row__item--shrink {
  flex: 0 0 auto;
  width: auto;
}

.o-col__item {
  flex: 1;
  min-width: 1px;
}

.o-col__item--shrink {
  flex: 0 0 auto;
  height: auto;
}

@include order();
