.o-justify--start {
  justify-content: flex-start;
}
.o-justify--end {
  justify-content: flex-end;
}
.o-justify--center {
  justify-content: center;
}
.o-justify--between {
  justify-content: space-between;
}
.o-justify--around {
  justify-content: space-around;
}
.o-justify--evenly {
  justify-content: space-around;
}
