.u-border {
  border: $global-border-size solid $global-border-color;
}
.u-border-t {
  border-top: $global-border-size solid $global-border-color;
}
.u-border-r {
  border-right: $global-border-size solid $global-border-color;
}
.u-border-b {
  border-bottom: $global-border-size solid $global-border-color;
}
.u-border-l {
  border-left: $global-border-size solid $global-border-color;
}
.u-border-radius {
  border: 0.5px solid transparent;
  border-radius: 10px;
}
