.u-flex-row {
  display: flex;
  flex-direction: row;
}
.u-flex-column {
  display: flex;
  flex-direction: column;
}
.u-justify-center {
  justify-content: center;
}
.u-justify-start {
  justify-content: start;
}
.u-justify-end {
  justify-content: end;
}
.u-justify-between {
  justify-content: space-between;
}
.u-justify-around {
  justify-content: space-around;
}
.u-vertical-centered {
  align-items: center;
}
.u-vertical-start {
  align-items: flex-start;
}
.u-vertical-end {
  align-items: flex-end;
}
.u-vertical-baseline {
  align-items: baseline;
}
.u-vertical-stretch {
  align-items: stretch;
}
