// margin
.u-m-xs {
  margin: $global-unit-size-tiny;
}
.u-m-sm {
  margin: $global-unit-size-small;
}
.u-m-md {
  margin: $global-unit-size-medium;
}
.u-m-lg {
  margin: $global-unit-size-large;
}
.u-m-xl {
  margin: $global-unit-size-giant;
}
.u-m-none {
  margin: $global-unit-size-zero;
}
// margin top
.u-m-t-xs {
  margin-top: $global-unit-size-tiny;
}
.u-m-t-sm {
  margin-top: $global-unit-size-small;
}
.u-m-t-md {
  margin-top: $global-unit-size-medium;
}
.u-m-t-lg {
  margin-top: $global-unit-size-large;
}
.u-m-t-xl {
  margin-top: $global-unit-size-giant;
}
.u-m-t-none {
  margin-top: $global-unit-size-zero;
}
// margin right
.u-m-r-xs {
  margin-right: $global-unit-size-tiny;
}
.u-m-r-sm {
  margin-right: $global-unit-size-small;
}
.u-m-r-md {
  margin-right: $global-unit-size-medium;
}
.u-m-r-lg {
  margin-right: $global-unit-size-large;
}
.u-m-r-xl {
  margin-right: $global-unit-size-giant;
}
.u-m-r-none {
  margin-right: $global-unit-size-zero;
}
// margin bottom
.u-m-b-xs {
  margin-bottom: $global-unit-size-tiny;
}
.u-m-b-sm {
  margin-bottom: $global-unit-size-small;
}
.u-m-b-md {
  margin-bottom: $global-unit-size-medium;
}
.u-m-b-lg {
  margin-bottom: $global-unit-size-large;
}
.u-m-b-xl {
  margin-bottom: $global-unit-size-giant;
}
.u-m-b-none {
  margin-bottom: $global-unit-size-zero;
}
// margin left
.u-m-l-xs {
  margin-left: $global-unit-size-tiny;
}
.u-m-l-sm {
  margin-left: $global-unit-size-small;
}
.u-m-l-md {
  margin-left: $global-unit-size-medium;
}
.u-m-l-lg {
  margin-left: $global-unit-size-large;
}
.u-m-l-xl {
  margin-left: $global-unit-size-giant;
}
.u-m-l-none {
  margin-left: $global-unit-size-zero;
}
// margin sides
.u-m-s-xs {
  margin-left: $global-unit-size-tiny;
  margin-right: $global-unit-size-tiny;
}
.u-m-s-sm {
  margin-left: $global-unit-size-small;
  margin-right: $global-unit-size-small;
}
.u-m-s-md {
  margin-left: $global-unit-size-medium;
  margin-right: $global-unit-size-medium;
}
.u-m-s-lg {
  margin-left: $global-unit-size-large;
  margin-right: $global-unit-size-large;
}
.u-m-s-xl {
  margin-left: $global-unit-size-giant;
  margin-right: $global-unit-size-giant;
}
.u-m-s-none {
  margin-left: $global-unit-size-zero;
  margin-right: $global-unit-size-zero;
}
