.u-padding-top-small {
  padding-top: $global-unit-size-small;
}
.u-padding-top-medium {
  padding-top: $global-unit-size-medium;
}
.u-padding-top-large {
  padding-top: $global-unit-size-large;
}
.u-padding-top-giant {
  padding-top: $global-unit-size-giant;
}
.u-padding-bot-tiny {
  padding-bottom: $global-unit-size-tiny;
}
.u-padding-bot-small {
  padding-bottom: $global-unit-size-small;
}
.u-padding-bot-medium {
  padding-bottom: $global-unit-size-medium;
}
.u-padding-bot-large {
  padding-bottom: $global-unit-size-large;
}
.u-padding-bot-giant {
  padding-bottom: $global-unit-size-giant;
}
