.c-btn {
  padding: $global-unit-size-small-medium $global-unit-size-large
    $global-unit-size-small-medium $global-unit-size-large;
  font-weight: 900;
  text-align: center;
  font-size: 16px;
}
.c-btn:hover {
  text-decoration: none;
}

.c-btn-normal {
  @include btn-theme($color-gray, $color-lightgray);
}
.c-btn-default {
  @include btn-theme($color-gray, $color-white);
  color: $color-darkgray;
}
.c-btn-primary {
  @include btn-theme($aqua-dark, $aqua-light);
}
.c-btn-success {
  @include btn-theme($grass-dark, $grass-light);
}
.c-btn-info {
  @include btn-theme($mint-dark, $mint-light);
}
.c-btn-warning {
  @include btn-theme($sunflower-dark, $sunflower-light);
}
.c-btn-danger {
  @include btn-theme($grapefruit-dark, $grapefruit-light);
}
.c-btn-link-dark {
  @include link-theme($color-darkgray);
}
.c-btn-link-light {
  @include link-theme($color-white);
}
