.c-icon--white {
  color: $color-white;
}
.c-icon--gray-dark {
  color: $color-darkgray;
}
.c-icon--gray-soft {
  color: $color-softgray;
}
.c-icon--gray-light {
  color: $color-lightgray;
}
.c-icon--gray {
  color: $color-gray;
}
