.c-paginator__block--active {
  background-color: $color-darkgray;
}

.c-paginator__block {
  padding-left: 0px;
  padding-right: 0px;
  min-width: 0px;
  width: 50px;
  &:focus,
  &:hover {
    background-color: $color-darkgray;
  }
}

.c-paginator__arrow-block {
  padding-left: 0px;
  padding-right: 0px;
  min-width: 0px;
  width: 50px;
}
