// base colors
$brick-red: #c33c54;
$indigo-dye: #254e70;
$blue-jeans-dark: #4a89dc;
$blue-jeans-light: #5d9cec;
$aqua-dark: #3bafda;
$aqua-light: #4fc1e9;
$mint-dark: #37bc9b;
$mint-light: #48cfad;
$grass-dark: #8cc152;
$grass-light: #a0d468;
$sunflower-dark: #f6bb42;
$sunflower-light: #ffce54;
$bittersweet-dark: #e9573f;
$bittersweet-light: #fc6e51;
$grapefruit-dark: #da4453;
$grapefruit-light: #ed5565;
$lavender-dark: #967adc;
$lavender-light: #ac92ec;
$pink-rose-dark: #d770ad;
$pink-rose-light: #ec87c0;

// grays
$color-darkgray: #24282d;
$color-softgray: #343a40;
$color-gray: #aab2bd;
$color-lightgray: #f5f7fa;

// white
$color-white: #ffffff;

// border
$global-border-color: $color-gray;
