$hover-opacity: 5%;

// global unit sizing
$global-unit-size-tiny: 5px;
$global-unit-size-small: 10px;
$global-unit-size-medium: 20px;
$global-unit-size-large: 30px;
$global-unit-size-giant: 40px;

// global font sizing
// This section needs work
$global-font-body: 16px;
$global-font-body-small: 14px;
$header-body-font: 18px;
$footer-body-font: 14px;
