// FONT-FAMILY IMPORTS & VARIABLES
//
// imports Google fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Lustria&display=swap');
//
// header font-family
$lato: 'Lato', sans-serif;
//
// body font-family
$lustria: 'Lustria', serif;

// VERTICAL RHYTHM (& BLUES) RULESETS
//
html {
  font-size: $global-font-size-body;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $lustria;
  font-weight: 400;
  line-height: $global-line-height;
}
body {
  font-size: $global-font-size-body;
  font-family: $lato;
  font-weight: 400;
  line-height: $global-line-height;
}
