@import './utilities/index';
@import './mixins/index';
@import './components/index';

ul {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
}
li {
  padding: 0px 10px 0px 10px;
}
li:last-of-type {
  padding: 0px 20px 0px 10px;
}
a {
  text-decoration: none;
}
