@use "sass:math";

@mixin btn-theme($dark, $light) {
  @include transition(0.1s ease-in-out);
  background-color: $dark;
  border: calc(2 * #{$global-border-size}) solid transparent;
  color: $color-white;
  text-decoration: none;
  font-size: $global-font-size-secondary;
  text-align: center;
  font-weight: 400;
  min-width: 80px;
  outline: none;
  padding: $global-unit-size-small $global-unit-size-medium
    $global-unit-size-small $global-unit-size-medium;
  &:hover,
  &:focus {
    background-color: $light;
    border: calc(2 * #{$global-border-size}) solid $dark;
  }
}

@mixin link-theme($dark) {
  @include transition(0.1s ease-in-out);
  color: $dark;
  text-decoration: none;
  font-size: $global-font-size-secondary;
  text-align: center;
  &:hover,
  &:focus {
    text-decoration: underline;
    text-decoration-thickness: math.div($global-unit-size-tiny, 2);
    text-underline-offset: $global-unit-size-tiny;
    outline: none;
  }
}
