@mixin btn-theme($dark, $light) {
  @include transition(0.2s ease-in-out);
  background-color: $light;
  border: 0.5px solid $dark;
  color: $color-white;
  &:hover {
    background-color: lighten($light, $hover-opacity);
    border-color: lighten($dark, $hover-opacity);
    color: $color-white;
  }
}

@mixin link-theme($dark) {
  @include transition(0.2s ease-in-out);
  color: $dark;
  &:hover {
    color: lighten($dark, $hover-opacity);
  }
}
